[client]
default-character-set=utf8mb4

[mysqld]
innodb_buffer_pool_size=2G
innodb_buffer_pool_chunk_size=16M
max_allowed_packet=256M
innodb_use_native_aio=0
character-set-client-handshake=FALSE
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
max_allowed_packet=107374182